* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 220px;
    height: 400px;
    margin: 25px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    border: 1px solid rgb(47, 47, 47);
    background-color: rgb(60, 60, 60);
    padding: 12px;
    border-radius: 8px;
}

.button-container {
    flex: auto;
    background-color: rgb(60, 60, 60);
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.row-button {
    flex: auto;
    background-color: rgb(60, 60, 60);
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 4px;
}

.button,
.buttonOp {
    flex: 1;
    width: 60px;
    height: 60px;
    font-size: 20px;
    background-color: rgb(249, 247, 247);
    border: 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.8s bounce;
}

.button:hover,
.buttonOp:hover {
    background-color: lightgrey;
}

.row-button #clearOp {
    flex-grow: 0.4;
    margin-left: auto;
    margin-right: 0;
}

#display {
    height: 15%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    background-color: rgb(101, 101, 101);
    padding: 4px;
    border-radius: 2px;
}

.input-number {
    font-weight: 700;
    color: lightgrey;
    background-color: rgb(101, 101, 101);
}

.number-up {
    font-size: 10px;
}

.number-down {
    font-size: 25px;
}